##########################################
#
# environmental variable file for
# vcs and deployment mode demo stack
#
# Copy this file to .env and adjust values
# as needed for your environment.
#
##########################################


### Shared
TZ=America/Chicago

### Ignition Shared
IGN_RELEASE=8.3.7
IGN_UID=1004
IGN_GID=1004

### Ignition Dev
IGN_NAME_DEV=demo-vcs-modes-dev
IGN_PORT_DEV=8188
IGN_MODE_DEV=dev

### Ignition Prod
IGN_NAME_PROD=demo-vcs-modes-prod
IGN_PORT_PROD=8189
IGN_MODE_PROD=prod

### Postgres Shared
POSTGRES_USERNAME=admin
POSTGRES_PASS=password
POSTGRES_NAME=postgres

### Postgres Dev
POSTGRES_PORT_DEV=5532
POSTGRES_CONTAINER_NAME_DEV=postgres-vcs-dev

### Postgres Prod
POSTGRES_PORT_PROD=5533
POSTGRES_CONTAINER_NAME_PROD=postgres-vcs-prod
